<div class="row">
    <div (click)="onCancel()" class="closeButton">
        <mat-icon>clear</mat-icon>
    </div>
    <div class="col-12">
        <h1 class="primaryText fw-bold">Seleccione Servicio</h1>
    </div>
    <div class="col-12">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Buscar servicio" [formControl]="search" id="services">
        </div>
    </div>
    <div class="col-12 serviceContainer" *ngIf="services.length>0">
        <div *ngFor="let service of filteredServices; let i = index">
            <!-- data-aos="zoom-in" [attr.data-aos-delay]="i*100" -->
            <mat-checkbox [checked]='isSelected(service)' [class.mat-checkbox-disabled]="false" disabled color="accent"
                (click)="selectService(service)">
                <span class="titleAddress fw-bold">{{service}}</span>
            </mat-checkbox>
        </div>
    </div>
    <div class="col-12">
        <div class="w-100 text-center my-3">
            <button mat-raised-button color="accent" class="ButtonNext" (click)="onApply()"> Aplicar</button>
        </div>
    </div>
</div>